$vanilla: #f7f0e3;
$chocolate: #4d350e;
$choco-dark: #291c07;
$cream: rgb(101, 72, 16);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: radial-gradient(
    circle at 50% 50%,
    rgb(0 235 255 / 24%),
    rgb(0, 57, 255)
  );
  width: 100%;
  overflow: hidden;
}
fieldset {
  position: absolute;
  top: 50px;
  left: 35vw;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #2e15ba;
  width: fit-content;
}
#sayYourName {
  width: 35px;
  height: 35px;
  font-size: 16px;
  border-radius: 100%;
}
// url(https://grainy-gradients.vercel.app/noise.svg);
@mixin vanillaDrop($width, $bottom, $left, $after: true) {
  &::before {
    content: "";
    left: $left;
    position: absolute;
    border-radius: 50%;
    width: $width;
    height: 15px;
    bottom: $bottom;
    background-color: $vanilla;
    box-shadow: 0px 1px 1px 0px darken($chocolate, 20%);
  }
  @if $after {
    &::after {
      left: calc(-15px + 14%);
      content: "";
      position: absolute;
      border-radius: 50%;
      width: calc($width - 25%);
      height: 12px;
      bottom: calc($width - 36%);
      background-color: $vanilla;
      box-shadow: 0px 2px 4px 0px darken($vanilla, 5%);
    }
  }
}
@mixin foodColoring($color) {
  background: $color;
  box-shadow: 0 2px 0px lighten($color, 8%), 0 4px 0px darken($color, 8.2%),
    0 6px 0px darken($color, 8.4%), 0 8px 0px darken($color, 6%),
    0 10px 0px darken($color, 8.8%), 0 12px 0px darken($color, 6%),
    0 14px 0px darken($color, 9.2%), 0 16px 0px darken($color, 9%),
    0 18px 0px darken($color, 9.6%), 0 20px 0px darken($color, 9%),
    0 22px 0px darken($color, 10%), 0 24px 0px darken($color, 12%),
    0 26px 0px darken($color, 12%), 0 28px 0px darken($color, 10.6%),
    0 30px 0px darken($color, 10.8%);
}

#numOfCandles,
button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
}
.cake > * {
  position: absolute;
}
.cake > *:not(.plate, .drip) {
  width: 100%;
}
.cake {
  position: relative;
  width: 450px;
  height: 200px;
  margin: 53vh auto 0;
  animation: fadeIn 0.8s ease-in;
}

.plate {
  width: calc(100% + 20px);
  height: 125px;
  bottom: -23px;
  left: -10px;
  background-color: #ebebeb;
  border-radius: 50%;
  box-shadow: 0 6px 0 #b3b3b3, 0 -1px 0 #e0e0e0,
    0 12px 35px -8px rgba(0, 0, 0, 0.5);
}

.layer {
  display: block;
  width: 250px;
  height: 120px;
  border-radius: 50%;
  filter: contrast(105%) brightness(132%);
  @include foodColoring($chocolate);
}

.layer-top {
  top: 0px;
}
.layer-middle {
  top: 33px;
  //   @include foodColoring($cream);
}
.layer-bottom {
  top: 66px;
}

.icing {
  top: 0px;
  left: 0px;
  background-color: $vanilla;
  z-index: 10;
  height: 120px;
  border-radius: 50%;
  background: radial-gradient($vanilla 46%, darken($vanilla, 10%));
  box-shadow: inset 0 0 15px lighten($vanilla, 70%);
}

.drip {
  border-radius: 25px;
  background: linear-gradient(darken($vanilla, 10%) 22%, $vanilla);
}

.drip1 {
  left: -1px;
  top: 60px;
  width: 13px;
  height: 80px;
  transform: skewY(22deg);
}

.drip2 {
  left: 40px;
  width: 21px;
  top: 49px;
  height: 135px;
  transform: skewY(8deg);
  @include vanillaDrop(45px, -10px, -15px, true);
}

.drip3 {
  top: 54px;
  left: 90px;
  width: 70px;
  height: 110px;
  border-radius: 40px;
}
.drip4 {
  top: 42px;
  left: 381px;
  width: 70px;
  height: 95px;
  border-radius: 40px;
  transform: skewY(-15deg);
  z-index: 9;
  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 88px;
    background: linear-gradient(darken($vanilla, 10%) 10%, $vanilla);
    border-radius: 20px;
    top: 26px;
    left: 57px;
  }
}
// CANDLE

.candleContainer {
  position: relative;
  z-index: 13;
  opacity: 0;
  margin: 10px;
  // animation: fadeIn 0.5s ease-out forwards;
}
.candle {
  position: absolute;
  background-color: #2e15ba;
  width: 13px;
  height: 50px;
  border-radius: 8px / 4px;
  z-index: 10;
  box-shadow: inset -4px 5px 7px #14027c;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#2e15ba, 20%);
    box-shadow: inset 0px 2px 3px #d6cff7;
    opacity: 0.5;
  }
}

.candleShadow {
  position: absolute;
  left: -8px;
  top: 45px;
  width: 33px;
  height: 6px;
  border-radius: 50%;
  background-color: #ba6d15;
  filter: blur(6px);
  z-index: 10;
}
.flame {
  position: absolute;
  background-color: orange;
  width: 9px;
  height: 20px;
  border-radius: 10px 10px 10px 10px/25px 25px 10px 10px;
  top: -22px;
  left: 3px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.5), 0 0 20px rgba(255, 165, 0, 0.5),
    0 0 60px rgba(255, 165, 0, 0.5), 0 0 80px rgba(255, 165, 0, 0.5),
    inset 3px 2px 2px #fbd051, inset -3px 2px 3px #fb8c00;
  transform-origin: 50% 90%;
  animation: flicker 0.9s ease-in-out alternate infinite;
  transition: all 0.3s ease;
}
.pulse {
  animation: pulse 0.8s ease-in-out infinite;
}
#blow {
  display: none;
  text-align: center;
}
.banner {
  width: 100%;
  height: 130px;
  text-align: center;
  padding: 30px;
  background-color: orange;
  position: fixed;
  z-index: 20;
  top: 30%;
}
.confetti {
  width: 10px;
  height: 20px;
  position: absolute;
  opacity: 0.7;
}
/*** ANIMAZIONI ***/
@keyframes pulse {
  0% {
    background-color: inherit;
  }
  100% {
    background-color: lightblue;
  }
}
@keyframes flicker {
  0% {
    transform: skewX(5deg) scaleY(1.1);
    box-shadow: 0 0 10px rgba(orange, 0.2), 0 0 20px rgba(orange, 0.2),
      0 0 60px rgba(orange, 0.2), 0 0 80px rgba(orange, 0.2),
      inset 3px 2px 2px rgba(#fbd051, 0.5), inset -3px 2px 3px #fb8c00;
  }
  25% {
    transform: skewX(-5deg) scaleY(1);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5),
      0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5),
      inset 3px 2px 2px rgba(#fbd051, 0.8), inset -3px 2px 3px #fb8c00;
  }
  50% {
    transform: skewX(10deg) scaleY(1.1);
    box-shadow: 0 0 10px rgba(orange, 0.3), 0 0 20px rgba(orange, 0.3),
      0 0 60px rgba(orange, 0.3), 0 0 80px rgba(orange, 0.3),
      inset 3px 2px 2px rgba(#fbd051, 0.5), inset -3px 2px 3px #fb8c00;
  }
  75% {
    transform: skewX(-10deg) scaleY(1);
    box-shadow: 0 0 10px rgba(orange, 0.4), 0 0 20px rgba(orange, 0.4),
      0 0 60px rgba(orange, 0.4), 0 0 80px rgba(orange, 0.4),
      inset 3px 2px 2px rgba(#fbd051, 0.5), inset -3px 2px 3px #fb8c00;
    height: 23px;
  }
  100% {
    transform: skewX(5deg);
    box-shadow: 0 0 10px rgba(orange, 0.5), 0 0 20px rgba(orange, 0.5),
      0 0 60px rgba(orange, 0.5), 0 0 80px rgba(orange, 0.5),
      inset 3px 2px 2px rgba(#fbd051, 0.8), inset -3px 2px 3px #fb8c00;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/** SET CANDLES FADEIN DELAY**/
// $delay: 0.5s; // ritardo fadeIn per ciascun elemento

// @function calculateDelay($index) {
//   @return $delay * $index;
// }

// @for $i from 1 through ??? {
//   .candleContainer:nth-child(#{$i}) {
//     animation-delay: calculateDelay($i);
//   }
// }
